body {
    font-family: "Source Sans Pro", "Source Sans Pro Fallback";
    background: #0d1117;
    color: #f0f6fc;
    height: 100%;
    margin: 20px;
}

#list {
    max-width: 300px;
    float: left;
    margin-right: 20px
}

#content {
    max-width: 760px;
}

a.recipe {
    display: block;
    padding: 6px 8px;
    border: 1px solid #f0f6fc;
    margin-bottom: 6px;
    text-decoration: none;
    color: #f0f6fc;
    border-radius: 4px;
}

h1 {
    margin-top: 0;
}

pre {
    white-space: pre-wrap;
}

.icon-link {
    margin-left: 0.5rem;
    vertical-align: middle;
}

.icon-link img {
    width: 18px;
    height: 18px;
}

footer {
    font-size: 1rem;
}