body {
    font-family: "Source Sans Pro", "Source Sans Pro Fallback";
    margin: 20px
}

#list {
    max-width: 300px;
    float: left;
    margin-right: 20px
}

#content {
    max-width: 760px
}

a.recipe {
    display: block;
    padding: 6px 8px;
    border: 1px solid #ddd;
    margin-bottom: 6px;
    text-decoration: none;
    color: #333
}

a.recipe:hover {
    background: #f5f5f5
}

h1 {
    margin-top: 0
}

pre {
    white-space: pre-wrap
}